power_bi/01-get-data.zip
power_bi/02-transform-data.zip
power_bi/AdventureWorksDW2020.bak
power_bi/01-get-data/01-Solution-Sales Analysis.pbix
power_bi/01-get-data/01-Starter-Sales Analysis.pbix
power_bi/01-get-data/ColorFormats.csv
power_bi/01-get-data/ResellerSalesTargets.csv
power_bi/02-transform-data/02-Snippets.txt
power_bi/02-transform-data/02-Solution-Sales Analysis.pbix
power_bi/02-transform-data/02-Starter-Sales Analysis.pbix
